/* CSS Document */


h1{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:22px;
background:#FFFFFF;

text-align:left;

background:#CCCCCC;

}



[required]{
border-color:green;
box-shadow: 0px 0px 5px green;
-webkit-box-shadow: 0px 0px 5px green;

}

:invalid{
border-color:red;
box-shadow: 0px 0px 50px red;
-webkit-box-shadow: 0px 0px 50px red;
border-radius: 0px 5px 0px 5px;
-webkit-border-radius: 0px 10px 0px 10px;
}



	#bloque{
				position:relative;
				top:50px;
				margin:auto;
				width:200px;
				border:2px solid white;
				border-radius:25px;
				-webkit-box-shadow:0px 10px 15px rgba(0,0,0,0.5);
			}
			h1{
				color:white;
				text-align:center;
				font-family:verdana;
				font-weight:bold;
				text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
				margin:0px;
				padding:0px;
				height:30px;
			}
			
			p{
				font-family:verdana;
				color:black;
				text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
				text-align:justify;
				font-size:10px;
			}
			img{
				width:300px;
				height:150px;
			}
			video{
				width:300px;
				height:200px;
			}
			audio{}
			#lala{
				height:40px;
				overflow:hidden;
				transition: height 2s;
				-webkit-transition: height 2s;
			}
			#lala:focus{
				height:250px;
				outline:none;
			}
			
			
			#lala:hover{
				height:250px;
				outline:none;
			}
h2{
	float:right;}
#contenedor{
			
	

text-align: left;
background:#CCCCCC;
margin:auto;
width:940px;
height:100%;
position: relative;




				
			}
			
				#logoart{





	height:150px;
	width:125px;
	


background-size: 100% 100%;
background-color: #CCC;
		background-position: 50% 50%;
		background-repeat: no-repeat;

display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
float:left;
margin:0px;
position:relative;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

#logoart:hover{


	box-shadow: 0px 0px 10px #009;

-webkit-box-shadow: 0px 0px 10px #009;
background-size: 100% 100%;







}










#logoart2{





	height:90px;
	width:65px;
	


background-size: 100% 100%;
background-color: #CCC;
		background-position: 50% 50%;
		background-repeat: no-repeat;



border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
float:right;
margin:10px;
position:relative;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

#logoart2:hover{


	box-shadow: 0px 0px 10px #009;

-webkit-box-shadow: 0px 0px 10px #009;
background-size: 100% 100%;







}




			section{
				
				position:relative;
				background:#CCC;
		
				
				
				border: 2px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
				margin:auto;
				width:480px;}
			
article{
color: rgba(255,255,255,1);
width:500px;
height:100%
/*background: white;*/
background: rgba(255,255,255,0.5);
margin:10px;



/*height:100%;*/
border: 1px solid white;
border-radius: 56px 25px 12px 25px;
-webkit-border-radius: 56px 25px 12px 25px;
box-shadow: 3px 13px 10px black;
-webkit-box-shadow: 3px 13px 10px black;
padding: 10px 10px 10px 150px;
opacity:1;
transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
transform:scale(1,1);
-webkit-transform:scale(1,1);
}
article:hover{
color: rgba(0,0,0,1);
background:rgba(255,255,255,1);
opacity:1;
transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
}

time{
float:right;
font-family:ubuntuRegular;
font-size:20px;
}
#la{

display: inline-table;
width:200px;
background: rgba(255,255,255,0.5);
float:right;

margin:10px;
padding:10px;
border: 1px solid white;
border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
box-shadow: 3px 3px 10px black;
-webkit-box-shadow: 3px 3px 10px black;
text-decoration:none;
-webkit-transition: -webkit-box-shadow 1s, background 1s;
}

#la:hover{
box-shadow: 0px 0px 25px white;
-webkit-box-shadow: 0px 0px 25px #CCC;
background: rgba(255,255,255,1);
}

button, button:visited {
    background: #CCC url(overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #FFF;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}
button:hover{
	
	background: #FFF url(overlay.png) repeat-x;
	color:#CCC;
	}
#la1{

display: inline-table;
width:100px;
background: rgba(255,255,255,0.5);
float:left;

margin:10px;
padding:10px;
border: 1px solid white;
border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
box-shadow: 3px 3px 10px black;
-webkit-box-shadow: 3px 3px 10px black;
text-decoration:none;
-webkit-transition: -webkit-box-shadow 1s, background 1s;
}

#la1:hover{
box-shadow: 0px 0px 25px white;
-webkit-box-shadow: 0px 0px 25px #CCC;
background: rgba(255,255,255,1);
}


h2{
	font-family:"Lucida Console", Monaco, monospace;
font-size:30px;


color:#666;
text-align:inherit;


 



}

	input{
		float:right;
		color:#FFFFFF;
			padding:10px;
			
				font-family: ubuntuRegular;
				text-shadow: 2px 2px 3px rgba(0,4,0,0.7);
				border: 0px solid white;
				border-radius: 5px;
				background: rgba(0,2,1,0.9);
				box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-o-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				transition: box-shadow 1s,background 1s,border 1s;
				-webkit-transition: -webkit-box-shadow 1s,background 1s,border 1s;
			}
			input:hover{
				box-shadow:0px 0px 15px rgba(0,0,0,0.5);
				-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.5);
				background:rgba(0,255,0,0.1);
				border: 2px solid white;
			}
				textarea {
		color:#FFFFFF;
			padding:10px;
				font-family: ubuntuRegular;
				text-shadow: 2px 2px 3px rgba(0,4,0,0.7);
				border: 0px solid white;
				border-radius: 5px;
				background: rgba(0,2,1,0.9);
				box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				-o-box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
				transition: box-shadow 1s,background 1s,border 1s;
				-webkit-transition: -webkit-box-shadow 1s,background 1s,border 1s;
			}
			textarea :hover{
				box-shadow:0px 0px 15px rgba(0,0,0,0.5);
				-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.5);
				background:rgba(0,255,0,0.1);
				border: 2px solid white;
			}


header{
		margin: auto;
	
text-align: left;
width:100%;
height:100px;
/*background: darkgrey;*/
background:#000;
opacity:0.7;

background-size: 100% 100%;
background-repeat: no-repeat;
display: box;



overflow: hidden;
border-radius: 15px;
/*border: 0px solid white;*/

	border-top: 3px solid #999;
   border-right: 3px solid #999;   
   border-bottom: 0px solid #999;
   border-left: 3px solid #999;



box-shadow: 0px 0px 10px white;
-moz-box-shadow: 0px 0px 10px white;
-webkit-box-shadow: 0px 0px 10px white;
-o-box-shadow: 0px 0px 10px white;

		}
		
	

	body{
	
text-align: center;
margin:0px;
background:#000;

 

		
		
		


 
}

#megacaja{
	


width:100%;
height:200px;
/*background: darkgrey;*/

background:#000000;
}



#caja2{

height:36%;
width:100%;
opacity:1;
overflow: hidden;
border-radius: 15px;
/*border: 0px solid white;*/

	border-top: 3px solid #999;
   border-right: 3px solid #999;   
   border-bottom: 0px solid #999;
   border-left: 3px solid #999;



box-shadow: 0px 0px 10px white;
-moz-box-shadow: 0px 0px 10px white;
-webkit-box-shadow: 0px 0px 10px white;
-o-box-shadow: 0px 0px 10px white;
/*background: darkgrey;*/

background:h#666;
}
#caja2:hover{color: rgba(0,2,0,1);
opacity:1;}





#cajia{
border:2px solid;
padding:10px 10px; 
width:60%;
float:left;

opacity:0.6;
resize:both;
overflow:auto;
border-radius: 84px 10px 23px 10px;
-webkit-border-radius: 84px 20px 23px 20px;
-moz-border-radius: 84px 10px 23px 10px;
-o-border-radius: 84px 10px 23px 10px;
box-shadow: 4px 6px 5px #CCC;
-webkit-box-shadow: 4px 6px 15px #CCC;}
#cajia:hover{
	opacity:1;
}










			nav{
display:inline; 
float:right; 
margin:23px;
}

nav ul{
font-size: 15px;
padding-left:inherit;
margin-left:auto;
background-color: grey;
color:white;
width:160px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
position:relative;
display:inline;

}

nav ul li{
display: inline;
text-align:center;



}

nav ul li a{
	/*background:rgba(255,255,255,0);*/

background:red;
color: white;
opacity:0.8;

float:right;
border: 3px solid white;
border-radius: 94px 20px 63px 30px;
-webkit-border-radius: 94px 20px 63px 20px;
-moz-border-radius: 84px 10px 23px 30px;
-o-border-radius: 84px 10px 23px 30px;
box-shadow: 4px 6px 15px white;
-webkit-box-shadow: 4px 6px 15px white;
width:80px;
height:90px;

-webkit-transition: -webkit-box-shadow 1s, background 1s;
}


nav ul li a:hover{
background:rgba(233,235,235,0.8);
color:#F00;
background:#FF0;
box-shadow: 2px 0px 25px #999;

color: rgba(0,0,0,1);
background:rgba(255,255,255,1);
opacity:1;
transform:scale(1.4,1.4);
-webkit-transform:scale(1.4,1.4);
-webkit-box-shadow: 2px 0px 25px #0CC;




}

	



	
	#zona{
		border: 4px solid #666;
text-align:center;
width:58%;


border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
box-shadow: 3px 3px 10px black;
-webkit-box-shadow: 3px 3px 10px black;
}





	

	
	#logochat{
width:110px;
height:115px;

color:#03C;



background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;

box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;

animation: parpadeo 5s;
-webkit-animation: parpadeo 5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

@keyframes parpadeo{

0% {box-shadow: 0px 0px 10px white;}
50% {box-shadow: 0px 0px 50px white;}
100% {box-shadow: 0px 0px 10px white;}

}

@-webkit-keyframes parpadeo{

0% {-webkit-box-shadow: 0px 0px 10px white;}
50% {-webkit-box-shadow: 0px 0px 50px white;}
100% {-webkit-box-shadow: 0px 0px 10px white;}

}


#logo{
	
height:100px;
	width:190px;
color:#03C;
background:url(../inteck.jpg);
background-size: 100% 100%;

background-repeat: no-repeat;
display: box;


border: 1px solid white;

box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;

animation: parpadeo 5s;
-webkit-animation: parpadeo 5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

@keyframes parpadeo{

0% {box-shadow: 0px 0px 10px white;}
50% {box-shadow: 0px 0px 50px #CCC;}
100% {box-shadow: 0px 0px 10px #666;}

}

@-webkit-keyframes parpadeo{

0% {-webkit-box-shadow: 0px 0px 10px white;}
50% {-webkit-box-shadow: 0px 0px 50px #CCC;}
100% {-webkit-box-shadow: 0px 0px 10px #666;}

}


[required]{
border-color:green;
box-shadow: 0px 0px 5px green;
-webkit-box-shadow: 0px 0px 5px green;

}

:invalid{
border-color:red;
box-shadow: 0px 0px 50px red;
-webkit-box-shadow: 0px 0px 50px red;
border-radius: 0px 5px 0px 5px;
-webkit-border-radius: 0px 10px 0px 10px;
}
aaaa

	footer{
		border: 1px solid #666;
text-align:center;

background-size: 100% 100%;


background-repeat: no-repeat;
display: box;
box-shadow: 3px 3px 40px black;
-webkit-box-shadow: 3px 3px 40px black;
border-radius: 89px 10px 0px 10px;

}