/* CSS Document */

h1{


color: white;
font-size: 48px;
top:-20%;
margin-top:10px;
letter-spacing: 0px;
display:inline;
text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
margin:0px;
padding:0px;

}

h2{


color:#009;
font-size: 28px;

margin-top:0px;
letter-spacing: 0px;
display:inline;
text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
margin:0px;
padding:0px;

}


header{
		margin: auto;
text-align: left;
width:100%;
height:200px;
/*background: darkgrey;*/
overflow: hidden;
border-radius: 15px;
/*border: 0px solid white;*/

	border-top: 3px solid #999;
   border-right: 3px solid #999;   
   border-bottom: 0px solid #999;
   border-left: 3px solid #999;



box-shadow: 0px 0px 10px white;
-moz-box-shadow: 0px 0px 10px white;
-webkit-box-shadow: 0px 0px 10px white;
-o-box-shadow: 0px 0px 10px white;

		}

	body{
text-align: center;
margin-left:12px;
margin-right:12px;
background: #CCC;

 
}


article{
color:#666;
width:55%;
height:auto;
/*background: white;*/
background: rgba(255,255,255,0.5);
margin:10px;
/*height:100%;*/
border: 1px solid white;
border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
box-shadow: 3px 3px 10px black;
-webkit-box-shadow: 3px 3px 10px black;
padding: 10px 10px 10px 150px;
opacity:1;
transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
transform:scale(1,1);
-webkit-transform:scale(1,1);
}
article:hover{
color: rgba(0,2,0,1);
background:rgba(255,255,255,1);
opacity:1;
transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
}

time{
float:right;
font-family:ubuntuRegular;
font-size:10px;
}

article:hover{
box-shadow: 0px 0px 25px #999;
-webkit-box-shadow: 0px 0px 25px #999;
background:#CCC;
}

#contenedor{
			position:relative;
			top:5%;
				margin:auto;
				width:80%;
				border:2px solid rgba(0,0,0,0.1);
				box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-webkit-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-moz-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-o-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				border-radius: 15px;
				background:white;
			}

	

input:hover{
		height:41px;
		box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-webkit-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-moz-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
				-o-box-shadow: 0px 20px 35px rgba(0,0,0,0.5);
border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
color:#ccc;}

	
	#zona{
		border: 4px solid #666;
text-align:center;
width:58%;


border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;
box-shadow: 3px 3px 10px black;
-webkit-box-shadow: 3px 3px 10px black;
}




	
	nav{
display:inline; 
float:right; 
margin:20px;
}

nav ul{
font-size: 22px;
padding-left:0px;
margin-left:0px;
background-color: grey;
color:white;
width:70%;
font-family:ubuntuRegular;

display:inline;
}

nav ul li{
display: inline;
text-align:center;


}

nav ul li a{
background:#039;
/*background: grey;*/
color:#999;

top:0%;
text-decoration: none;
float:right;
margin:3px;
padding:3px;
border: 1px solid white;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 3px 20px 3px 20px;
-moz-border-radius: 0px 10px 0px 10px;
-o-border-radius: 0px 10px 0px 10px;

box-shadow: 0px 0px 5px white;
-webkit-box-shadow: 0px 0px 15px white;
-webkit-transition: -webkit-box-shadow 1s, background 1s;
}

nav ul li a:hover{
background:#666;
color: black;
box-shadow: 20px 0px 25px #036;
-webkit-box-shadow: 20px 0px 25px #036;

}
	section{
		text-align:center; 
		box-shadow: 0px 0px 25px #999;
-webkit-box-shadow: 0px 0px 25px #999;
	}
	

	
	footer{
		border: 1px solid #666;
text-align:center;
width:100%;
background:#CCC
border-radius: 15px;
box-shadow: 3px 3px 40px black;
-webkit-box-shadow: 3px 3px 40px black;
}
	#logochat{
width:110px;
height:115px;

color:#03C;



background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;

box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;

animation: parpadeo 5s;
-webkit-animation: parpadeo 5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

@keyframes parpadeo{

0% {box-shadow: 0px 0px 10px white;}
50% {box-shadow: 0px 0px 50px white;}
100% {box-shadow: 0px 0px 10px white;}

}

@-webkit-keyframes parpadeo{

0% {-webkit-box-shadow: 0px 0px 10px white;}
50% {-webkit-box-shadow: 0px 0px 50px white;}
100% {-webkit-box-shadow: 0px 0px 10px white;}

}


#logo{
	

color:#03C;
background:url(../DEIMS%20GAS.jpg);
background-size: 100% 100%;
height:50px;
	width:50px;
background-repeat: no-repeat;
display: box;


border: 1px solid white;

box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;

animation: parpadeo 5s;
-webkit-animation: parpadeo 5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

@keyframes parpadeo{

0% {box-shadow: 0px 0px 10px white;}
50% {box-shadow: 0px 0px 50px white;}
100% {box-shadow: 0px 0px 10px white;}

}

@-webkit-keyframes parpadeo{

0% {-webkit-box-shadow: 0px 0px 10px white;}
50% {-webkit-box-shadow: 0px 0px 50px white;}
100% {-webkit-box-shadow: 0px 0px 10px white;}

}



